html(lang="en")
  head
    title Coffeefy
    meta(name='description' content="Tired of arguing over who's turn is it to make coffee? This site is for you!")
    link#favicon(rel='icon', href='https://cdn.glitch.com/eb2d7dec-04ef-480d-8616-087d63d88275%2FCoffee.ico?1556809358242', type='image/x-icon')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet"
         href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
         integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
         crossorigin="anonymous")
    link(href='/css/account-login.css', rel='stylesheet') 
    
  body
  
    header
      center
        h1 Coffeefy
        p No more arguments in your office!
      
    main
      div(class="container" id="container")              
        div
          form(class="height-100" action="/loginIntoAccount?account="+account.name+"&accountUrl="+account.url, method="post")
            h1(class="h1-login-signup") Log in to
            h2.account= account.name
            if error==true
              p(class="txt-error") The credentials you entered were incorrect :(
            input(class="width-100" name="username" type="text" placeholder="Maker's name" required)
            input(class="width-100" name="password" type="password" placeholder="Maker's password" required)
            input(class="width-100" type="submit" value="Log In")
            
        div
          form(class="height-100" action="/signup-maker?account="+account.name+"&accountUrl="+account.url, method="post" autocomplete="off")
            h1(class="h1-login-signup") Sign up as a maker for #{account.name}
            input(class="width-100" name="maker" type="text" placeholder="Your name (will be your username)" required)
            input(class="width-100" name="password" type="password" placeholder="Your password" required)
            input(class="width-100" type="submit" value="Sign Up") 