html(lang="en")
  head
    title Who makes coffee today?
    meta(name='description' content="Tired of arguing over who's turn is it to make coffee? This site is for you!")
    link#favicon(rel='icon', href='https://cdn.glitch.com/eb2d7dec-04ef-480d-8616-087d63d88275%2FCoffee.ico?1556809358242', type='image/x-icon')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet"
         href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
         integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
         crossorigin="anonymous")
    link(href='./style.css', rel='stylesheet')         
    script(src="/login-signup.js" defer)
    
  body
  
    nav
      a(href="/main")
        button(class="nav-button") Main Page
      a(href="/main/makers")
        button(class="nav-button") Manage Makers
      a(href="/main/settings")
        button(class="nav-button") Account Settings
      a(href="/main/logout")
        button(class="nav-button") Log out        
      
    main
      div(class="container" id="container")
        div(style="display: flex;")
          div(id="makers-box" style="margin-right: 10px;")
            h1 Makers
            div(id="makers-list")
              ul
                each maker in makers
                  if maker.active==true
                    li.maker= maker.name
          div
            if last=="no" && today=="body"
              p There is only one maker, do you really need to use this app?
            else
              if last!="nobody"
                p Last time, #{last} made coffee.

              if today=="nobody"
                p Today nobody makes coffee :(
              else
                if today==last
                  button(disabled) #{today} has already made coffee today
                else
                  p Today #{today} makes coffee!
                  a(href=("/main/mark?today=" + today))
                    button #{today} has made coffee