extends app-template.pug

block main
  main     
    div(id="information")
      div
        if last=="no" && today=="body"
          p There is only one maker, do you really need to use this app?
        else
          if last!="nobody"
            p Last time, #{last} made coffee.

          if today=="nobody"
            p Today nobody makes coffee :(
          else
            if today==last
              p #{today} has made coffee today.
            else
              p Today #{today} makes coffee!
              if incorrectPassword==true
                  p(class="txt-error") You entered an incorrect password :(
              if loggedMaker == today
                button(class="btn-choice choice-okay" onclick="showMarker()")
                  i(class="fas fa-check")    
                  text I made coffee today
                form(id="mark" action=("/main/mark?today=" + today) method="post")
                  input(type="password" name="password" placeholder= (today + "'s password") required)
                  input(type="submit" value= today + " has made coffee")
              if loggedMaker != today
                button(class="btn-choice choice-wrong" onclick="whatIfSomeoneCant()")
                  i(class="fas fa-times")     
                  text #{today} can't make coffee?
                button(class="btn-choice choice-caution" onclick="showMarkerForSomeoneElse()")
                  i(class="fas fa-exclamation")    
                  text I offer to make coffee today
                form(id="mark-someone-else" action=("/main/mark") method="post" style="padding: 0;")
                  input(type="password" name="password" placeholder="Enter your password" required)
                  input(type="submit" value= "I made coffee today")
      
      div(id="calendar")
        div(style="display:flex; justify-content: space-around;")
          i(class="far fa-arrow-alt-circle-left fa-2x btn-calendar" onclick="changeYear(-1)")
          div(id="year") XXXX
          i(class="far fa-arrow-alt-circle-right fa-2x btn-calendar" onclick="changeYear(1)")
        div(style="display:flex; justify-content: space-around;")
          button(class="btn-calendar" onclick="changeMonth(-1)") <
          div(id="month") XXX
          button(class="btn-calendar" onclick="changeMonth(1)") >
        table(id="" style="display:flex; justify-content: center;")
          tr(id="daysOfWeek")
            th S
            th M
            th T
            th W
            th T
            th F
            th S
          tr(id="week1")
          tr(id="week2")
          tr(id="week3")
          tr(id="week4")
          tr(id="week5")
          tr(id="week6")
        br
        center
          strong Coming soon: See who makes coffee in the next days.
    button(id="show-makers" onclick="showMakers()")
      text M
      text A
      text K
      text E
      text R
      text S
      span(id="btn-overlay")
        i(id="btn-overlay-arrow" class="fas fa-angle-double-left")
    div(id="makers-box")
      h1 Makers
      div(id="main-makers-list")
        ul
          each maker in makers
            li.maker= maker.name
  script(src="/js/app/month-information.js")
  script(src="/js/app/main.js")
  script(src="/js/app/interactions.js")